@{
    ViewBag.Title = "Home Page";
}
@model List<Valtech.ProductForm.Models.ProductVm>

<br/><br/><br/>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price (EUR)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Category.Name</td>
            <td>@product.Price</td>
            <td>
                <form action="/Home/PreEdit">
               <input type="hidden" name="productId" value="@product.Id"/>
                         <button class="btn btn-primary" type="submit">Edit</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
